html {
    background-image: url(images/robot22.jpg);
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
}

/*PAGE 1*/
section {
    grid-column: 2/3;
    margin: 5px 0px;
    text-align: center;
    font-size: 48px;

}

.left {
    grid-column: 1/1;
    height: 100vh;
    background-color: darkgray;
    opacity: 80%;

}

nav {
    text-align: center;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    width: 80%;
    margin: 30% auto;
    background-color: white;
    padding: 5px 5px;
}

nav a:hover {
    background-color: black;
    color: white;
}

section {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*    overflow-y: scroll;*/
    color: white;
}


/*PAGE 2*/
.h {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr;

    text-align: left;
    overflow-y: scroll;
}

.text {
    grid-column: 1/2;
    grid-row: 2/3;

    font-size: 60%;
    color: yellow;
}

/*PAGE 3*/

.JS {
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.buttonP{
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: center;
}

#text {
    color: red;
}